services:
  arangodb:
    image: arangodb:3.12
    container_name: vals-trz-arangodb
    environment:
      ARANGO_ROOT_PASSWORD: rootpassword
    ports:
      - "8529:8529"
    volumes:
      - arangodb_data:/var/lib/arangodb3
      - arangodb_apps:/var/lib/arangodb3-apps

volumes:
  arangodb_data:
  arangodb_apps:
